@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  cursor: default;
}

button,
a,
[role="button"] {
  cursor: pointer;
}

* {
  caret-color: transparent;
}

input,
textarea {
  caret-color: auto;
}
